<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="bizFlowApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="bizFlowApp.product.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let skuRef = editForm.get('sku')!;
        <div class="mb-3">
          <label class="form-label" for="field_sku" jhiTranslate="bizFlowApp.product.sku">Sku</label>
          <input type="text" class="form-control" name="sku" id="field_sku" data-cy="sku" formControlName="sku" />
          @if (skuRef.invalid && (skuRef.dirty || skuRef.touched)) {
            <div>
              @if (editForm.get('sku')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let barcodeRef = editForm.get('barcode')!;
        <div class="mb-3">
          <label class="form-label" for="field_barcode" jhiTranslate="bizFlowApp.product.barcode">Barcode</label>
          <input type="text" class="form-control" name="barcode" id="field_barcode" data-cy="barcode" formControlName="barcode" />
          @if (barcodeRef.invalid && (barcodeRef.dirty || barcodeRef.touched)) {
            <div>
              @if (editForm.get('barcode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="bizFlowApp.product.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_category" jhiTranslate="bizFlowApp.product.category">Category</label>
          <input type="text" class="form-control" name="category" id="field_category" data-cy="category" formControlName="category" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_shape" jhiTranslate="bizFlowApp.product.shape">Shape</label>
          <input type="text" class="form-control" name="shape" id="field_shape" data-cy="shape" formControlName="shape" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_retailPack" jhiTranslate="bizFlowApp.product.retailPack">Retail Pack</label>
          <input
            type="number"
            class="form-control"
            name="retailPack"
            id="field_retailPack"
            data-cy="retailPack"
            formControlName="retailPack"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_wholesalePack" jhiTranslate="bizFlowApp.product.wholesalePack">Wholesale Pack</label>
          <input
            type="number"
            class="form-control"
            name="wholesalePack"
            id="field_wholesalePack"
            data-cy="wholesalePack"
            formControlName="wholesalePack"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="bizFlowApp.product.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stockQuantity" jhiTranslate="bizFlowApp.product.stockQuantity">Stock Quantity</label>
          <input
            type="number"
            class="form-control"
            name="stockQuantity"
            id="field_stockQuantity"
            data-cy="stockQuantity"
            formControlName="stockQuantity"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lowStockAlert" jhiTranslate="bizFlowApp.product.lowStockAlert">Low Stock Alert</label>
          <input
            type="number"
            class="form-control"
            name="lowStockAlert"
            id="field_lowStockAlert"
            data-cy="lowStockAlert"
            formControlName="lowStockAlert"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_remarks" jhiTranslate="bizFlowApp.product.remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="bizFlowApp.product.location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_message" jhiTranslate="bizFlowApp.product.message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_value" jhiTranslate="bizFlowApp.product.value">Value</label>
          <input type="text" class="form-control" name="value" id="field_value" data-cy="value" formControlName="value" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
