<div class="sidebar collapsed" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <!-- TITLE -->
    @if (!isCollapsed) {
      <h5 class="logo-text">ERP System</h5>
    }

    <!-- TOGGLE BUTTON -->
    <button type="button" class="collapse-btn" (click)="sidebarToggle.emit()">
      <i [class]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-left'"></i>
    </button>
  </div>

  <ul class="sidebar-menu">
    @if (account !== null) {
      @for (item of entitiesSidebarItems; track item.route) {
        <li>
          <a [routerLink]="item.route" routerLinkActive="active" class="menu-item collapsed" [class.collapsed]="isCollapsed">
            <!-- ICON -->
            <i [class]="item.icon"></i>

            <!-- TEXT -->
            @if (!isCollapsed) {
              <span>{{ item.name }}</span>
            }
          </a>
        </li>
      }
    }
  </ul>
</div>
