<jhi-page-ribbon />

<!-- =========================================
     ERP LAYOUT
========================================= -->
<div class="erp-layout" [class.full-layout]="hideLayout">
  <!-- =========================================
       TOP NAVBAR
  ========================================= -->
  <header class="erp-navbar">
    <router-outlet name="navbar"></router-outlet>
  </header>

  <!-- =========================================
       MAIN BODY
  ========================================= -->
  <div class="erp-layout-body">
    <!-- =========================================
         SIDEBAR
    ========================================= -->
    <aside *ngIf="!hideLayout" class="erp-sidebar" class="erp-sidebar" [class.collapsed]="isSidebarCollapsed()">
      <jhi-sidebar [isCollapsed]="isSidebarCollapsed()" (sidebarToggle)="toggleSidebar()"></jhi-sidebar>
    </aside>

    <!-- =========================================
         MAIN AREA
    ========================================= -->
    <div class="erp-main">
      <!-- =========================================
           CONTENT AREA
      ========================================= -->
      <main class="erp-content">
        <!-- =========================================
             INNER PAGE NAVBAR
        ========================================= -->
        <nav *ngIf="!hideLayout" class="navbar navbar-light bg-warning rounded-4 shadow-sm border inner-navbar">
          <div class="container-fluid">
            <!-- LEFT SIDE -->
            <div class="d-flex align-items-center gap-2">
              <span class="navbar-brand mb-0 h5 fw-bold"> {{ title }} </span>
            </div>

            <!-- RIGHT SIDE -->
            <div class="d-flex align-items-center gap-2">
              <button class="btn btn-light border rounded-3">Refresh</button>

              <button class="btn btn-primary rounded-3">Add New</button>
            </div>
          </div>
        </nav>

        <!-- =========================================
             PAGE CONTENT CONTAINER
        ========================================= -->
        <div class="erp-page-container">
          <!-- DYNAMIC PAGE CONTENT -->
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>

  <footer *ngIf="!hideLayout" class="erp-footer">
    <jhi-footer></jhi-footer>
  </footer>
</div>
