<jhi-page-ribbon />
<!-- Navbar -->
<div *ngIf="!hideLayout" class="fixed-top">
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="d-flex min-vh-100 pt-5">
  <!-- Sidebar -->
  <div *ngIf="!hideLayout" class="sidebar-container min-vh-100 bg-dark">
    <jhi-sidebar></jhi-sidebar>
  </div>

  <!-- Right Content -->
  <div class="flex-grow-1 d-flex flex-column" [class.full-width]="hideLayout">
    <!-- Main -->
    <main class="container-fluid flex-grow-1 bg-warning">
      <!-- Breadcrumb -->
      <!-- <app-breadcrumb
        *ngIf="!hideLayout"
      ></app-breadcrumb> -->

      <div class="card jh-card mt-5">
        <!-- Dynamic Pages -->
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
<!-- Footer -->
<jhi-footer *ngIf="!hideLayout" class="fixed-bottom"></jhi-footer>
