<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customerOrder(); as customerOrderRef) {
      <div>
        <h2 data-cy="customerOrderDetailsHeading"><span jhiTranslate="bizFlowApp.customerOrder.detail.title">Customer Order</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customerOrderRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customerOrder.orderNumber">Order Number</span></dt>
          <dd>
            <span>{{ customerOrderRef.orderNumber }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customerOrder.status">Status</span></dt>
          <dd>
            <span>{{ customerOrderRef.status }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customerOrder.totalAmount">Total Amount</span></dt>
          <dd>
            <span>{{ customerOrderRef.totalAmount }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customerOrder.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ customerOrderRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customerOrder.remarks">Remarks</span></dt>
          <dd>
            <span>{{ customerOrderRef.remarks }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customerOrder.customer">Customer</span></dt>
          <dd>
            @if (customerOrder()!.customer) {
              <div>
                <a [routerLink]="['/customer', customerOrder()!.customer?.id, 'view']">{{ customerOrderRef.customer?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/customer-order', customerOrderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
