<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-inventory-heading" data-cy="InventoryCreateUpdateHeading" jhiTranslate="bizFlowApp.inventory.home.createOrEditLabel">
        Create or edit a Inventory
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="bizFlowApp.inventory.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let inventory_idRef = editForm.get('inventory_id')!;
        <div class="mb-3">
          <label class="form-label" for="field_inventory_id" jhiTranslate="bizFlowApp.inventory.inventory_id">Inventory Id</label>
          <input
            type="text"
            class="form-control"
            name="inventory_id"
            id="field_inventory_id"
            data-cy="inventory_id"
            formControlName="inventory_id"
          />
          @if (inventory_idRef.invalid && (inventory_idRef.dirty || inventory_idRef.touched)) {
            <div>
              @if (editForm.get('inventory_id')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_remarks" jhiTranslate="bizFlowApp.inventory.remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="bizFlowApp.inventory.location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="bizFlowApp.inventory.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_product_id" jhiTranslate="bizFlowApp.inventory.product_id">Product Id</label>
          <select
            class="form-control"
            id="field_product_id"
            data-cy="product_id"
            name="product_id"
            formControlName="product_id"
            [compareWith]="compareProduct"
          >
            @if (editForm.get(['product_id'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (productOption of productsSharedCollection; track $index) {
              <option [ngValue]="productOption">{{ productOption.sku }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['product_id'])!.invalid && (editForm.get(['product_id'])!.dirty || editForm.get(['product_id'])!.touched)) {
          <div>
            @if (editForm.get(['product_id'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
