<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customer(); as customerRef) {
      <div>
        <h2 data-cy="customerDetailsHeading"><span jhiTranslate="bizFlowApp.customer.detail.title">Customer</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customerRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customer.name">Name</span></dt>
          <dd>
            <span>{{ customerRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customer.phone">Phone</span></dt>
          <dd>
            <span>{{ customerRef.phone }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customer.address">Address</span></dt>
          <dd>
            <span>{{ customerRef.address }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customer.pendingAmount">Pending Amount</span></dt>
          <dd>
            <span>{{ customerRef.pendingAmount }}</span>
          </dd>
          <dt><span jhiTranslate="bizFlowApp.customer.active">Active</span></dt>
          <dd>
            <span>{{ customerRef.active }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/customer', customerRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
